<!doctype html>
<html>
<head>
	<title>尺尚</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" type="text/css" href="${ctx}/css/css.css"/>
	<script src='${ctx}/js/swipe.js'></script>
	 #parse("WEB-INF/tmp/include.vm")
</head>

<body>
	<div  class="backblock"><img onclick="javascript:history.go(-1)" src="${ctx}/images/btn-back.png"  alt=""/>特别报道</div>
	
	<div class="cooperate">
		#foreach($content in $!{contents})
		<a href="${content.url}"><img width="99%" src="${ftppath}$!{content.img}" alt=""/><h2>$!{content.title}</h2></a>
		#end
	</div>

</body>
</html>
