<!doctype html>
<html>
<head>
	<title>尺尚</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" type="text/css" href="${ctx}/css/css.css"/>
	<link rel="stylesheet" type="text/css" href="${ctx}/css/mui.min.css"/>
	<link rel="stylesheet" type="text/css" href="${ctx}/css/app.css"/>
	 #parse("WEB-INF/tmp/include.vm")
</head>

<body>
	<header class="mui-bar mui-bar-nav z_bar_nav">
	    <a class="mui-action-back mui-icon mui-icon-arrowleft z_col_666" onclick="javascript:history.go(-1)"></a>
	    <h1 class="mui-title">订单详情</h1>
	</header>
	<div class="z_padt44 z_padb70">
		<div class="z_address">
	    	<span class="z_icon_address"></span>
	    	<div class="z_address_a">
	        	<p class="row1"><span class="r1"><b>收货人：</b><i id="addressName">$!{order.reveivename}</i></span><span class="r2" id="phone">$!{order.phone}</span></p>
	            <p class="row2">收货地址：<span id="address">$!{order.address}</span></p>
	        </div>
	    </div>
	    <div class="z_ord_box">
	    	#foreach($goodsDetail in $!{goodsDetails})
	        <div class="z_ord_list" js-num="$!{goodsDetail.num}" js-id="$!{goodsDetail.id}">
	            <a href="javascript:void(0)" class="list_img"><img onload="fixImg($(this))" onerror="defaultImg(this)" src="${ftppath}$!{goodsDetail.img}"></a>
	            <p class="row1">$!{goodsDetail.name}</p>
	            <p class="row2"><span>$!{goodsDetail.colorName}</span>,<span>$!{goodsDetail.sizeName}</span></p>
	            #if(${goodsDetail.isdiscount}=="2")
	            <p class="row3"><span class="left"><span class="r1"><i>￥</i>$!{goodsDetail.vipPrice}</span><span class="r2"><i>￥</i>$!{goodsDetail.price}</span></span><span class="right">×<i>$!{goodsDetail.odamount}</i></span></p>
	            #else
	            <p class="row3"><span class="left"><span class="r1"><i>￥</i>$!{goodsDetail.price}</span></span><span class="right">×<i>$!{goodsDetail.odamount}</i></span></p>
	            #end
	        </div>
	    	#end
		<div class="z_lmsg">
	    	<div class="z_lmsg_hd">您的留言</div>
	        <div class="z_lmsg_bd"><textarea name="remark" readonly="readonly">${order.remark}</textarea></div>
	    </div>
	    <div class="z_odd">
	        <ul>
	            <li><a href="javascript:void(0)">订单原价</a><span class="z_col6167f1"><i>${order.oldPrice}</i>元</span></li>
	            <li><a href="javascript:void(0)">享受折扣</a><span class="z_col6167f1"><i>${member.discount}</i>折</span></li>
	            <li><a href="javascript:void(0)">订单金额</a><span class="z_col6167f1"><i>${orderTotal}</i>元</span></li>
	            <li><a class="z_odd_y" href="javascript:void(0)"><i>满</i>满减优惠</a><span id="subMoney" class="z_col6167f1">$!{order.subtractMoney}元</span></li>
	            <li id="coupons"><a class="z_odd_m2" href="javascript:void(0)">优惠券</a><span class="z_col6167f1"><i id="couponUse">${order.couponsPay}</i>元</span></li>
	            <li id="balances"><a class="z_odd_m1" href="javascript:void(0)">余额使用</a><span class="z_col6167f1"><i id="balanceUse">${order.balancePay}</i>元</span></li>
	            <li><a href="javascript:void(0)">付款金额</a><span class="z_col6167f1"><i>${order.totalPrice}</i>元</span></li>
	        </ul>
	    </div>
	</div>
	
	#parse("WEB-INF/tmp/bottom.vm")
</body>
</html>
